@{
	ViewData["Title"] = "Editing";
}
@model User
<div class="columns">

		<div class="column is-10 is-offset-1">
			<h1>Editing @Model.Name </h1>

			<form asp-controller="Profile" asp-action="Check" method="post">

					<div class="input-field">
						<label class="field">
							<input type="text" class="input" name="name" value="@Model.Name"></>
						</label>						
					</div>
	
					<div class="input-field">
						<label class="field">
							<input type="password" class="input" name="password" value="@Model.Email">
						</label>						
					</div>
			
					<div class="input-field">
						<label class="field">
							<input type="text" class="input" name="email" value="@Model.Email">
						</label>						
					</div>
			
					<label class="field">
						<input type="submit" name="submit" class="button is-primary">			
					</label>

			</form>	
			<a asp-controller="Home" asp-action="">View all users</a>		
		</div>
	</div>
